.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 50px 144px 144px 100px;
}

.pageHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    font-weight: 700;
  }
}
