.actionButton {
  border: none;
  background-color: var(--purple);
  padding: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
