.page {
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.faqSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.privacyPolicySection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
