.dropdown {
  position: relative;
  width: 100%;
  border: 2px solid var(--pure-black);
  border-radius: 5px;
  background-color: var(--white);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.label {
  color: gray;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
}

.arrow {
  flex-shrink: 0;
}

.optionsList {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  border: 2px solid var(--pure-black);
  border-radius: 5px;
  background-color: var(--white);
  z-index: 10;
}

.optionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 0;
}

.optionLabel {
  color: var(--black);
  font-size: 1rem;
}
