.searchBarWrapper {
  position: relative;
  width: 65%;
  margin-left: 13%;
  margin-right: auto;
}

.searchIcon {
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.searchBar {
  width: 100%;
  padding: 0.6rem 0.8rem 0.4rem 2.5rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  outline: none;
  box-sizing: border-box;

  &::placeholder {
    color: var(--medium-gray);
  }

  &:focus {
    border-color: var(--black);
    box-shadow: 0 0 0 2px var(--black);
  }
}
